////////////////////////////
// COLOR
$color-one: white;
$color-two: #F3D3D3;
$color-three: #F2F2F4;
$color-four: #010A43;
$color-six: #f3d3d3;

////////////////////////////
// COLOR FONTS
$color-font-one: white;
$color-font-two: #F3D3D3;
$color-font-three: #010A43;
$color-font-four: rgba(#010A43, .5);


// OTHER
$lineHeight: 2em;
$margin-spreat-section: 5em 0 10em 0;